QUESTION 1 --  SOLUTION-->

In [1]:
import re

In [2]:
SampleText = 'PythonExercises,PHP exercises.'

In [3]:
pattern = r"[ .]"

In [4]:
Output = re.sub(pattern, ';' , SampleText)

In [5]:
Output

'PythonExercises,PHP;exercises;'

QUESTION 2 --SOLUTION-->

In [6]:
Dictionary = {'SUMMARY':['hello, world!' , 'XXXXtest', '123four,five:;,six...']}

In [7]:
Dictionary

{'SUMMARY': ['hello, world!', 'XXXXtest', '123four,five:;,six...']}

In [9]:
pattern = r"[, !XXXX123:;...]"
value = list(Dictionary.values())[0]
for key , values in Dictionary.items():
    Dicti_values = [re.sub(pattern,"", values) for values in value]
    Dictionary[key] = Dicti_values

In [10]:
Dictionary

{'SUMMARY': ['helloworld', 'test', 'fourfivesix']}

In [11]:
import pandas as pd
pd.DataFrame(Dictionary)

       SUMMARY
0   helloworld
1         test
2  fourfivesix

QUESTION 3. -- SOLUTION-->

In [12]:
def words_four_character_long(str):
    pattern = re.compile(r"\b\w{4,}\b")
    Words = pattern.findall(str)
    return Words

In [13]:
text = 'This is my assignment work'

In [14]:
obj = words_four_character_long(text)

In [15]:
obj

['This', 'assignment', 'work']

THIS IS MY SOLUTION TO MY ABOVE PROBLEM

4.QUESTION-- SOLUTION-->

In [19]:
def words_Three_four_Five_character_long(str):
    pattern = re.compile(r"\b\w{3,5}\b")
    Words = pattern.findall(str)
    return Words

In [17]:
text = 'This is my assignment work'

In [20]:
obj1 = words_Three_four_Five_character_long(text)

In [21]:
obj1

['This', 'work']

5.QUESTION--> SOLUTION-->

In [26]:
def remove_paranthesis(text):
    pattern = re.compile(r'[()]')
    output = [pattern.sub('', x) for x in text]
    return output

In [27]:
SampleText = ["example.(com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)" , "Data (Scientist)"]

In [28]:
SampleText

['example.(com)',
 'hr@fliprobo(.com)',
 'github(.com)',
 'Hello (Data Science World)',
 'Data (Scientist)']

In [29]:
output_1 = remove_paranthesis(SampleText)

In [30]:
output_1

['example.com',
 'hr@fliprobo.com',
 'github.com',
 'Hello Data Science World',
 'Data Scientist']

PARANTHESIS HAS BEEN REMOVED FROM SampleText LIST OF STRINGS

6.QUESTION--> SOLUTION-->

In [249]:
import docx

In [250]:
doc_2 = (r'C:\Users\apple\OneDrive\Documents\DOCUMENT_FILE.docx')

In [247]:
doc_2

In [256]:
text_to_extract = "\n".join([para.text for para in doc_2.paragraphs])

In [260]:
string_without_paranthesis = re.sub(r'\([^)]*\)', '', text_to_extract)

In [261]:
string_without_paranthesis

'SampleText : ["example.", "hr@fliprobo", "github", "Hello " , "Data "]\n'

7. QUESTIONS--> SOLUTIONS-->

In [43]:
Sample_Text = "ImportanceOfRegularExpressionInPython"

In [44]:
Sample_Text

'ImportanceOfRegularExpressionInPython'

In [45]:
words = re.findall(r'[A-Z][a-z]*', Sample_Text)

In [46]:
words

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

SPLITTED THE STRING INTO UPPERCASE LETTERS

8. QUESTIONS--> SOLUTION-->

In [49]:
def insert_space_between_numbers(text):
    output = re.sub(r'(\D)(\d)',r'\1 \2' , text)
    return output

In [52]:
Sample_Text =' RegularExpression1Is2AnImportantTopic3inPython'
output_txt = insert_space_between_numbers(Sample_Text)

In [53]:
output_txt

' RegularExpression 1Is 2AnImportantTopic 3inPython'

NOW WORDS CONTAIN SPACES BETWEEN WORDS WITH NUMBERS

9. QUESTION--> SOLUTIONS-->

In [55]:
def insert_spaces__capital_letter(text):
    output = re.sub(r'([a-z])([A-Z])', r'\1 \2', text)
    return output

In [56]:
Sample_Text ='RegularExpression1Is2AnImportantTopic3inPython'

In [59]:
output_1 = insert_spaces__capital_letter(Sample_Text)

In [60]:
output_1

'Regular Expression1Is2An Important Topic3in Python'

NOW THIS OUTPUT HAS SPACES BETWEEN WORDS STARTING WITH CAPITAL LETTERS

10. QUESTION--> SOLUTION-->

In [206]:
import pandas as pd

In [207]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [208]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [215]:
df['first_five_letters'] = df['Country'].str.extract(r'(^.{1,5})', )

In [214]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switz
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icela
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denma
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norwa
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwand
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burun
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

HENCE NEW COLUMN NAMED FIRST_FIVE_LETTERS HAS BEEN ADDED TO DATAFRAME

11. QUESTION--> SOLUTION-->

In [61]:
def match_pattern(text):
    pattern = re.compile(r"^[a-zA-Z0-9_]*$")
    if pattern.match(text):
        print("THE STRING MATCHES THE PATTERN")
    else:
        print("THE STRING MATCHES THE PATTERN")

In [62]:
SampleText = 'This_Is_My_assignment_work_2'

In [63]:
output_2 = match_pattern(text)

THE STRING MATCHES THE PATTERN

HENCE PROVED THE REQUIRED STRING MATCHES THE PATTERN

12. QUESTION--> SOLUTION-->

In [64]:
def string_with_start_number(text):
    output = re.sub(r'(\D)(\d)', r'\1 \2',text)
    return output

In [65]:
SampleText = 'Myinternshipwillstartfrom17decandmyidis2312'

In [66]:
SampleText

'Myinternshipwillstartfrom17decandmyidis2312'

In [67]:
output_3 = string_with_start_number(SampleText)

In [68]:
output_3

'Myinternshipwillstartfrom 17decandmyidis 2312'

13. QUESTION--> SOLUTION-->

In [69]:
def removing_zeroes_ip_address(ip_address):
    output = re.sub(r'\b0+(\d)', r'\1',ip_address)
    return output

In [70]:
ip_address = "185.003.014.005"

In [71]:
output_4 = removing_zeroes_ip_address(ip_address)

In [72]:
output_4

'185.3.14.5'

14. QUESTION--> SOLUTION-->

In [216]:
pip install python-docx

Collecting python-docxNote: you may need to restart the kernel to use updated packages.

  Downloading python_docx-1.1.0-py3-none-any.whl (239 kB)
     -------------------------------------- 239.6/239.6 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: lxml>=3.1.0 in c:\users\apple\anaconda3\lib\site-packages (from python-docx) (4.9.1)
Requirement already satisfied: typing-extensions in c:\users\apple\anaconda3\lib\site-packages (from python-docx) (4.4.0)
Installing collected packages: python-docx
Successfully installed python-docx-1.1.0

In [217]:
import docx

In [219]:
doc = docx.Document(r'C:\Users\apple\OneDrive\Documents\SampleFile')

In [220]:
doc

In [222]:
doc_1 = "\n".join([para.text for para in doc.paragraphs])

In [229]:
pattern = re.compile(r'(?:August)\s+\d{1,2}(?:th)?\s+\d{4}')

In [230]:
date_output = pattern.findall(doc_1)

In [231]:
date_output

['August 15th 1947']

15.QUESTIONS--> SOLUTIONS-->

In [90]:
def literal_strings_search(text,patterns):
    for pattern in patterns:
        match = re.search(re.escape(pattern),text)
        if match:
            print(f"Found '{pattern}' in the text")
        else:
            print(f"Not Found '{pattern}' in the text")

In [85]:
SampleText = 'the quick brown fox jumps over the lazy dog'

In [86]:
search_patterns = ['fox' , 'dog' , 'horse']

In [91]:
output = literal_strings_search(SampleText,search_patterns)

Found 'fox' in the text
Found 'dog' in the text
Not Found 'horse' in the text

16.QUESTIONS--> SOLUTION-->

In [101]:
def string_literal_search_with_locations(text,patterns):
    for pattern in patterns:
        start_index = text.find(pattern)
        if start_index != -1:
            print(f"Found '{pattern}' at index{start_index} in the text.")
        else:
            print(f"Did not find {pattern} in the text.")

In [102]:
SampleText = 'the quick brown fox jumps over the lazy dog'

In [105]:
search_patterns = 'fox'

In [106]:
output_1 = string_literal_search_with_locations(SampleText,search_patterns)

Found 'f' at index16 in the text.
Found 'o' at index12 in the text.
Found 'x' at index18 in the text.

17.QUESTION--> SOLUTION-->

In [124]:
def finding_substring_string(substring,text):
    pattern = re.compile(substring)
    output = pattern.search(text)
    if output:
        return(f"SUBSTRING '{substring}' FOUND")
    else:
        return(f"SUBSTRING '{substring}' NOT FOUND")
c

In [134]:
substring_1 = 'exercises'

In [131]:
SampleText = "Python exercises, PHP exercises, C# exercises"

In [135]:
output_6 = finding_substring_string(substring_1,SampleText)

In [136]:
print(output_6)

SUBSTRING 'exercises' FOUND

18. QUESTIONS--> SOLUTIONS-->

In [160]:
def finding_location_substring(text,substring):
    matches = re.finditer(substring,text)
    position = [match.start() for match in matches]
    return position

SampleText = "Python exercises, PHP exercises, C# exercises"

substring_1 = 'exercises'

output_7 = finding_location_substring(SampleText,substring_1)

 
if output_7:
     print(f"Substring '{substring_1}' found at locations: {output_7} in the string.")
else:
    print(f"Substring '{substring_1}' not found in the string.")

Substring 'exercises' found at locations: [7, 22, 36] in the string.

19. QUESTIONS--> SOLUTIONS-->

In [161]:
def convert_reverse_normal_date(date_1):
    pattern = re.compile(r'(\d{4})-(\d{2})-(\d{2})')
    normal_date = pattern.sub(r'\3-\2-\1',date_1)
    return normal_date

In [162]:
Sample_date_string = '2024-01-02'

In [164]:
Output_8 = convert_reverse_normal_date(Sample_date_string)

In [165]:
Output_8

'02-01-2024'

NOW THE DATE FORMAT HAS BEEN CONVERTED TO DD-MM-YYYY

20.QUESTION--> SOLUTION-->

In [170]:
def find_decimal_numbers(string_1):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    output = pattern.findall(string_1)
    return output

In [167]:
SampleText = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [172]:
output_9 = find_decimal_numbers(SampleText)

In [173]:
output_9

['01.12', '145.8', '3.01', '27.25', '0.25']

21. QUESTIONS--> SOLUTION-->

In [175]:
def number_positions(text):
    pattern = re.compile(r'\d+')
    matches = pattern.finditer(text)
    output = [(match.group(), match.start(), match.end()-1)for match in matches]
    return output

In [176]:
SampleText = 'there are 25 questions given on regular expression assignment'

In [177]:
output_10 = number_positions(SampleText)

In [178]:
for numbers, start, end in output_10:
    print(f"Number {numbers}, Start position {start}, End position {end}")

Number 25, Start position 10, End position 11

22. Question--> SOLUTION-->

In [184]:
def largest_numeric_value(string_1):
    numbers = re.findall(r'\d+' , string_1)
    numbers = [int(num)for num in numbers]
    if numbers:
        return max(numbers)
    else:
        return None

In [185]:
SampleText = 'My marks in each semester are: 947,896,926,524,734,950,642'

In [186]:
Output_10 = largest_numeric_value(SampleText)

In [187]:
if Output_10 is not None:
    print(f"the maximum value in the string is {Output_10}")
else:
    print(f"There is no maximum value found")

the maximum value in the string is 950

23. QUESTIONS--> SOLUTION-->

THIS QUESTION HAS BEEN REPEATED AS I HAD ALREADY SOLVED SAME QUESTION EARLIER

24. QUESTION--> SOLUTION-->

In [192]:
SampleText = 'Th IS my Assignmnt Work'
pattern = re.compile(r'[A-Z][a-z]')
matches = pattern.findall(SampleText)

In [193]:
matches

['Th', 'As', 'Wo']

25.QUESTION--> SOLUTION-->

In [198]:
def remove_continuous_duplicate(string_2):
    pattern = re.compile(r'\b(\w+)(\s+\1\b)+')
    output = pattern.sub(r'\1', string_2)
    return output

In [202]:
SampleText = "Hello hello world world"

In [203]:
output_11 = remove_continuous_duplicate(SampleText)

In [204]:
output_11

'Hello hello world'

ALL ASSIGNMENT QUESTIONS HAS BEEN DONE BY ME!

THANKS FOR ASSIGNING ME!


REGARDS

VINAYAK PANWAR


BATCH NO. DS2312


ASSIGNMENT NAME - REGULAR EXPRESSION