1.QUESTION--> SOLUTION-->

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [8]:
driver = webdriver.Chrome()

In [12]:
url = "https://www.shine.com/new/job-search"
driver.get(url)

In [13]:
job_title = driver.find_element(By.ID,"id_q")
job_title.send_keys('Data Analyst')

In [14]:
job_location = driver.find_element(By.XPATH, '//input[@id="id_loc"]')
job_location.send_keys('Bangalore')

In [15]:
search = driver.find_element(By.XPATH,'//button[@class=" btn btn-secondary jobSearchForm_search_jobBtn__lpMvq"]')

In [16]:
search.click()

In [32]:
job_title = []
job_location=[]
Company_name=[]
Expierence_required =[]

In [47]:
#scraping job title from the given page 
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[:10]:
    title = i.text
    job_title.append(title)

In [48]:
job_title

['Lead Data Analyst',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Management',
 'Data Modeler data',
 'Data Engineer Ii',
 'Data Modeller',
 'Full time Opportunity-Networking Advisor-Cisco Nexus -D ...',
 'Data Modeler Bangalore']

In [33]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[:10]:
    location = i.text
    # Split the string on newline and take the first part
    loc = location.split('\n')[0]
    job_location.append(loc)

In [34]:
job_location

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [36]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[:10]:
    company = i.text
    Company_name.append(company)

In [37]:
Company_name

['ara resources private limited',
 'diraa hr services hiring for mncs',
 'yogita staffing solution',
 'techno endura',
 'future solution centre',
 'boyen haddin consulting and technol...',
 'v-tech data outsourcing',
 'boyen haddin consulting and technol...',
 'ntt data information processing ser...',
 'boyen haddin consulting and technol...']

In [39]:
Experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in Experience_tags[:10]:
    Experience = i.text
    Expeirence_required.append(Experience)

In [40]:
Expeirence_required

['4 to 9 Yrs',
 '0 to 1 Yr',
 '0 to 3 Yrs',
 '0 to 1 Yr',
 '15 to >25 Yrs',
 '3 to 6 Yrs',
 '0 to 1 Yr',
 '3 to 6 Yrs',
 '10 to 20 Yrs',
 '3 to 6 Yrs']

In [49]:
print(len(job_title),len(job_location),len(Company_name), len(Expeirence_required))

10 10 10 10

In [41]:
import pandas as pd

In [50]:
df = pd.DataFrame({'Title':job_title, 'location':job_location, 'Company':Company_name, 'Experience':Expeirence_required})

In [51]:
df

,Title,location,Company,Experience
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore,techno endura,0 to 1 Yr
4,Data Management,Bangalore,future solution centre,15 to >25 Yrs
5,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Engineer Ii,Bangalore,v-tech data outsourcing,0 to 1 Yr
7,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Full time Opportunity-Networking Advisor-Cisco...,Bangalore,ntt data information processing ser...,10 to 20 Yrs
9,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs

2.QUESTION--> SOLUTION-->
THIS QUESTION HAS BEEN REPEATED

3.QUESTION--> SOLUTION-->

In [92]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [97]:
driver = webdriver.Chrome()
url = "https://www.shine.com/new/job-search"
driver.get(url)

In [98]:
job_title = driver.find_element(By.ID,"id_q")
job_title.send_keys('Data Scientist')

In [99]:
search = driver.find_element(By.XPATH,'//button[@class=" btn btn-secondary jobSearchForm_search_jobBtn__lpMvq"]')

In [100]:
search.click()

In [101]:
job_title = []
Company_name=[]

In [102]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[:10]:
    title = i.text
    job_title.append(title)

In [103]:
job_title

['Data Scientist | Senior Data Scientist Chennai',
 'Data Scientist',
 'Data Scientist/Data Analyst-17740',
 'Senior Data Scientist - Claims Analysis',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientists (All levels), Analytical Chemistry',
 'Data Scientist /Quantitative Equity Researcher 2']

In [118]:
job_loc = []
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[:10]:
    location = i.text
    # Split the string on newline and take the first part
    loc = location.split('\n')[0]
    job_loc.append(loc)

In [119]:
job_loc

['Chennai',
 'Gurugram',
 'All India',
 'Other Karnataka',
 'All India',
 'All India',
 'Hyderabad',
 'All India',
 'All India',
 'Other Maharashtra']

In [108]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[:10]:
    company = i.text
    Company_name.append(company)

In [109]:
Company_name

['talent leads hr solutions pvt ltd',
 'right advisors private limited',
 'gemraj technologies ltd',
 'molecular connections',
 'ank aha',
 'stack digital',
 'geekbull consulting',
 'mindshift analytics',
 'braintrust',
 'pinebridge investments']

In [110]:
experience = []
Experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in Experience_tags[:10]:
    Experience = i.text
    experience.append(Experience)

In [112]:
experience

['8 to 13 Yrs',
 '2 to 7 Yrs',
 '3 to 7 Yrs',
 '2 to 5 Yrs',
 '2 to 6 Yrs',
 '5 to 8 Yrs',
 '2 to 6 Yrs',
 '3 to 7 Yrs',
 '2 to 6 Yrs',
 '0 to 7 Yrs']

In [120]:
print(len(job_title),len(job_loc),len(Company_name), len(experience))

10 10 10 10

In [121]:
df = pd.DataFrame({'Title':job_title, 'location':job_loc, 'Company':Company_name, 'Experience':experience})

In [122]:
df

,Title,location,Company,Experience
0,Data Scientist | Senior Data Scientist Chennai,Chennai,talent leads hr solutions pvt ltd,8 to 13 Yrs
1,Data Scientist,Gurugram,right advisors private limited,2 to 7 Yrs
2,Data Scientist/Data Analyst-17740,All India,gemraj technologies ltd,3 to 7 Yrs
3,Senior Data Scientist - Claims Analysis,Other Karnataka,molecular connections,2 to 5 Yrs
4,Data Scientist,All India,ank aha,2 to 6 Yrs
5,Data Scientist,All India,stack digital,5 to 8 Yrs
6,Senior Data Scientist,Hyderabad,geekbull consulting,2 to 6 Yrs
7,Data Scientist,All India,mindshift analytics,3 to 7 Yrs
8,"Data Scientists (All levels), Analytical Chemi...",All India,braintrust,2 to 6 Yrs
9,Data Scientist /Quantitative Equity Researcher 2,Other Maharashtra,pinebridge investments,0 to 7 Yrs

4. QUESTION--> SOLUTION

In [31]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [32]:
driver = webdriver.Chrome()
url = "https://www.flipkart.com/"
driver.get(url)

In [33]:
job_title = driver.find_element(By.XPATH, '//input[@class="Pke_EE"]')
job_title.send_keys('sunglasses')

In [34]:
search = driver.find_element(By.XPATH,'//button[@class="_2iLD__"]')

In [35]:
search.submit()

In [36]:
brand_name = []
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand = i.text
    brand_name.append(brand)

In [37]:
brand_name

['Elligator',
 'Elligator',
 'SRPM',
 'ROADWAY',
 'ROADWAY',
 'ROADWAY',
 'Niavaa',
 'Elligator',
 'ROADWAY',
 'Elligator',
 'Elligator',
 'Elligator',
 'Elligator',
 'Niavaa',
 'VINCENT CHASE',
 'Fastrack',
 'Lenskart STUDIO',
 'PROVOGUE',
 'Arzonai',
 'Rich Club',
 'Eyewearlabs',
 'ROYAL SON',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'ROZZETTA CRAFT',
 'AKAYI',
 'Fastrack',
 'Eyewearlabs',
 'ROYAL SON',
 'Rich Club',
 'Fastrack',
 'Nk tip top',
 'Elligator',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack']

In [38]:
product_desc = []
product_desc_tags =driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in product_desc_tags:
    product = i.text
    product_desc.append(product)

In [39]:
product_desc

['UV Protection Wayfarer Sunglasses (52)',
 'UV Protection Wayfarer, Retro Square Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square, Aviator Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Wayfarer, Retro Square Sunglasses (52)',
 'UV Protection Wayfarer, Retro Square Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'Mirrored Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Sports, Wrap-around Sunglasses (70)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (50)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (65)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer, Retro Square, Sports, Spectacle...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (58)']

In [40]:
price = []
price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    product_price = i.text
    price.append(product_price)

In [41]:
price

['₹159',
 '₹199',
 '₹169',
 '₹129',
 '₹189',
 '₹129',
 '₹247',
 '₹199',
 '₹169',
 '₹169',
 '₹199',
 '₹199',
 '₹159',
 '₹247',
 '₹499',
 '₹539',
 '₹1,429',
 '₹634',
 '₹224',
 '₹487',
 '₹1,236',
 '₹359',
 '₹549',
 '₹169',
 '₹599',
 '₹819',
 '₹474',
 '₹385',
 '₹216',
 '₹619',
 '₹2,199',
 '₹594',
 '₹394',
 '₹569',
 '₹199',
 '₹149',
 '₹636',
 '₹597',
 '₹199',
 '₹799']

In [42]:
discount = []
discount_tags =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
for i in discount_tags:
    disc_ = i.text
    discount.append(disc_)

In [43]:
discount

['84% off',
 '80% off',
 '86% off',
 '90% off',
 '81% off',
 '87% off',
 '64% off',
 '80% off',
 '86% off',
 '83% off',
 '80% off',
 '80% off',
 '68% off',
 '64% off',
 '75% off',
 '40% off',
 '59% off',
 '75% off',
 '77% off',
 '62% off',
 '65% off',
 '76% off',
 '45% off',
 '86% off',
 '70% off',
 '41% off',
 '70% off',
 '80% off',
 '86% off',
 '38% off',
 '38% off',
 '70% off',
 '80% off',
 '43% off',
 '84% off',
 '75% off',
 '68% off',
 '76% off',
 '87% off',
 '42% off']

In [44]:
df = pd.DataFrame({'brand':brand_name, 'product_description':product_desc , 'product_price':price, 'Discount':discount})

In [45]:
df

,brand,product_description,product_price,Discount
0,Elligator,UV Protection Wayfarer Sunglasses (52),₹159,84% off
1,Elligator,"UV Protection Wayfarer, Retro Square Sunglasse...",₹199,80% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹169,86% off
3,ROADWAY,"UV Protection Wayfarer, Sports, Spectacle , Re...",₹129,90% off
4,ROADWAY,UV Protection Wayfarer Sunglasses (Free Size),₹189,81% off
5,ROADWAY,"UV Protection Retro Square, Wayfarer, Sports S...",₹129,87% off
6,Niavaa,UV Protection Retro Square Sunglasses (Free Size),₹247,64% off
7,Elligator,"UV Protection Retro Square, Aviator Sunglasses...",₹199,80% off
8,ROADWAY,UV Protection Retro Square Sunglasses (Free Size),₹169,86% off
9,Elligator,"UV Protection, Mirrored Wayfarer Sunglasses (52)",₹169,83% off
10,Elligator,"UV Protection Wayfarer, Retro Square Sunglasse...",₹199,80% off
11,Elligator,"UV Protection Wayfarer, Retro Square Sunglasse...",₹199,80% off
12,Elligator,UV Protection Retro Square Sunglasses (54),₹159,68% off
13,Niavaa,UV Protection Retro Square Sunglasses (Free Size),₹247,64% off
14,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹499,75% off
15,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹539,40% off
16,Lenskart STUDIO,"Polarized, UV Protection Sports Sunglasses (55)","₹1,429",59% off
17,PROVOGUE,UV Protection Round Sunglasses (Free Size),₹634,75% off
18,Arzonai,UV Protection Over-sized Sunglasses (Free Size),₹224,77% off
19,Rich Club,UV Protection Retro Square Sunglasses (54),₹487,62% off
20,Eyewearlabs,"Polarized, UV Protection Wayfarer Sunglasses (51)","₹1,236",65% off
21,ROYAL SON,Mirrored Aviator Sunglasses (58),₹359,76% off
22,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹549,45% off
23,Elligator,UV Protection Wayfarer Sunglasses (50),₹169,86% off
24,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹599,70% off
25,Fastrack,UV Protection Aviator Sunglasses (58),₹819,41% off
26,NuVew,"UV Protection Sports, Wrap-around Sunglasses (70)",₹474,70% off
27,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹385,80% off
28,AKAYI,UV Protection Retro Square Sunglasses (50),₹216,86% off
29,Fastrack,UV Protection Shield Sunglasses (Free Size),₹619,38% off
30,Eyewearlabs,"Polarized, UV Protection Rectangular Sunglasse...","₹2,199",38% off
31,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹594,70% off
32,Rich Club,UV Protection Rectangular Sunglasses (52),₹394,80% off
33,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹569,43% off
34,Nk tip top,"UV Protection Wayfarer, Retro Square, Sports, ...",₹199,84% off
35,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
36,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹636,68% off
37,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹597,76% off
38,PIRASO,UV Protection Wayfarer Sunglasses (32),₹199,87% off
39,Fastrack,UV Protection Aviator Sunglasses (58),₹799,42% off

In [46]:
Next =  driver.find_element(By.XPATH,'//a[@class="ge-49M"][1]')

In [47]:
Next.click()

In [48]:
brand_name = []
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand = i.text
    brand_name.append(brand)

In [49]:
brand_name

['Eyewearlabs',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'SYGA',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'Eyewearlabs',
 'Fastrack',
 'PIRASO',
 'AISLIN',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'Lenskart STUDIO',
 'Hooper',
 'VINCENT CHASE',
 'Elligator',
 'PIRASO',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'PIRASO',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'VINCENT CHASE',
 'Singco India',
 'PIRASO',
 'Rich Club',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'SRPM',
 'iCopertina']

In [50]:
product_desc = []
product_desc_tags =driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in product_desc_tags:
    product = i.text
    product_desc.append(product)

In [51]:
product_desc

['Polarized, UV Protection Round Sunglasses (47)',
 'UV Protection Aviator Sunglasses (59)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized Wayfarer Sunglasses (55)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (62)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (60)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Polarized, UV Protection Clubmaster Sunglasses (51)',
 'Polarized, UV Protection Wayfarer Sunglasses (47)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Over-sized Sunglasses (65)',
 'by Lenskart UV Protection Wayfarer Sunglasses (62)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Over-sized Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'Polarized Rectangular Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [52]:
price = []
price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    product_price = i.text
    price.append(product_price)

In [53]:
price

['₹1,999',
 '₹711',
 '₹749',
 '₹799',
 '₹556',
 '₹539',
 '₹199',
 '₹381',
 '₹919',
 '₹629',
 '₹379',
 '₹404',
 '₹636',
 '₹1,236',
 '₹629',
 '₹388',
 '₹581',
 '₹551',
 '₹299',
 '₹594',
 '₹1,159',
 '₹599',
 '₹599',
 '₹169',
 '₹299',
 '₹558',
 '₹428',
 '₹404',
 '₹279',
 '₹811',
 '₹418',
 '₹594',
 '₹699',
 '₹590',
 '₹232',
 '₹395',
 '₹639',
 '₹276',
 '₹169',
 '₹130']

In [54]:
discount = []
discount_tags =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
for i in discount_tags:
    disc_ = i.text
    discount.append(disc_)

In [163]:
discount

['84% off',
 '80% off',
 '80% off',
 '86% off',
 '42% off',
 '68% off',
 '80% off',
 '80% off',
 '34% off',
 '62% off',
 '80% off',
 '74% off',
 '42% off',
 '68% off',
 '70% off',
 '65% off',
 '75% off',
 '76% off',
 '72% off',
 '86% off',
 '70% off',
 '80% off',
 '70% off',
 '85% off',
 '88% off',
 '59% off',
 '38% off',
 '44% off',
 '65% off',
 '88% off',
 '76% off',
 '72% off',
 '36% off',
 '72% off',
 '89% off',
 '85% off',
 '64% off',
 '74% off',
 '38% off',
 '70% off']

In [55]:
df_1 = pd.DataFrame({'brand':brand_name, 'product_description':product_desc , 'product_price':price, 'Discount':discount})

In [56]:
df_1

,brand,product_description,product_price,Discount
0,Eyewearlabs,"Polarized, UV Protection Round Sunglasses (47)","₹1,999",44% off
1,ROYAL SON,UV Protection Aviator Sunglasses (59),₹711,64% off
2,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
3,Fastrack,UV Protection Aviator Sunglasses (58),₹799,42% off
4,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹556,72% off
5,Fastrack,Polarized Wayfarer Sunglasses (55),₹539,40% off
6,SYGA,UV Protection Spectacle Sunglasses (Free Size),₹199,42% off
7,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹381,80% off
8,Fastrack,UV Protection Aviator Sunglasses (58),₹919,34% off
9,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹629,42% off
10,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹379,81% off
11,ROYAL SON,UV Protection Round Sunglasses (50),₹404,73% off
12,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹636,68% off
13,Eyewearlabs,"Polarized, UV Protection Wayfarer Sunglasses (51)","₹1,236",65% off
14,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹629,42% off
15,PIRASO,UV Protection Butterfly Sunglasses (60),₹388,85% off
16,AISLIN,"UV Protection, Gradient Round, Cat-eye Sunglas...",₹581,74% off
17,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹551,72% off
18,PIRASO,UV Protection Butterfly Sunglasses (60),₹299,88% off
19,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹594,70% off
20,Lenskart STUDIO,"Polarized, UV Protection Clubmaster Sunglasses...","₹1,159",66% off
21,Hooper,"Polarized, UV Protection Wayfarer Sunglasses (47)",₹599,70% off
22,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹599,70% off
23,Elligator,UV Protection Wayfarer Sunglasses (53),₹169,86% off
24,PIRASO,UV Protection Over-sized Sunglasses (65),₹299,88% off
25,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹558,72% off
26,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹428,71% off
27,ROYAL SON,UV Protection Round Sunglasses (50),₹404,73% off
28,PIRASO,UV Protection Over-sized Sunglasses (60),₹279,89% off
29,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹811,59% off
30,AISLIN,"UV Protection, Gradient Retro Square Sunglasse...",₹418,72% off
31,ROYAL SON,Polarized Rectangular Sunglasses (60),₹594,70% off
32,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹699,65% off
33,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹590,70% off
34,PIRASO,UV Protection Retro Square Sunglasses (54),₹232,85% off
35,Rich Club,UV Protection Retro Square Sunglasses (54),₹395,69% off
36,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹639,74% off
37,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹276,86% off
38,SRPM,UV Protection Wayfarer Sunglasses (50),₹169,86% off
39,iCopertina,UV Protection Retro Square Sunglasses (Free Size),₹130,86% off

In [57]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][2]')

In [58]:
Next_page.click()

In [59]:
brand_name = []
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[:20]:
    brand = i.text
    brand_name.append(brand)

In [60]:
brand_name

['Ann Taylor',
 'NuVew',
 'iCopertina',
 'PIRASO',
 'GANSTA',
 'VINCENT CHASE',
 'ROYAL SON',
 'AISLIN',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Royaltail',
 'VINCENT CHASE',
 'Singco India',
 'hipe',
 'Fastrack',
 'ROYAL SON',
 'PROVOGUE',
 'PROVOGUE',
 'ROZZETTA CRAFT']

In [61]:
product_desc = []
product_desc_tags =driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in product_desc_tags[:20]:
    product = i.text
    product_desc.append(product)

In [62]:
product_desc

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer, Rectangular Sunglasses (65)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Wayfarer Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Polarized, UV Protection Wayfarer, Round Sunglasses (52...',
 'Polarized Rectangular Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Clubmaster, Spectacle Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (61)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)']

In [63]:
price = []
price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[:20]:
    product_price = i.text
    price.append(product_price)

In [64]:
price

['₹2,499',
 '₹485',
 '₹130',
 '₹299',
 '₹279',
 '₹819',
 '₹639',
 '₹581',
 '₹528',
 '₹482',
 '₹581',
 '₹1,118',
 '₹599',
 '₹375',
 '₹129',
 '₹569',
 '₹559',
 '₹599',
 '₹643',
 '₹597']

In [65]:
discount = []
discount_tags =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
for i in discount_tags[:20]:
    disc_ = i.text
    discount.append(disc_)

In [66]:
discount

['75% off',
 '72% off',
 '86% off',
 '88% off',
 '86% off',
 '59% off',
 '68% off',
 '74% off',
 '73% off',
 '75% off',
 '74% off',
 '77% off',
 '70% off',
 '84% off',
 '91% off',
 '36% off',
 '72% off',
 '76% off',
 '74% off',
 '76% off']

In [67]:
import pandas as pd
df_2 = pd.DataFrame({'brand':brand_name, 'product_description':product_desc , 'product_price':price, 'Discount':discount})

In [68]:
df_2

,brand,product_description,product_price,Discount
0,Ann Taylor,UV Protection Aviator Sunglasses (54),"₹2,499",75% off
1,NuVew,"UV Protection Wayfarer, Rectangular Sunglasses...",₹485,72% off
2,iCopertina,UV Protection Retro Square Sunglasses (Free Size),₹130,86% off
3,PIRASO,UV Protection Butterfly Sunglasses (60),₹299,88% off
4,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹279,86% off
5,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹819,59% off
6,ROYAL SON,UV Protection Wayfarer Sunglasses (54),₹639,68% off
7,AISLIN,"Polarized, UV Protection Aviator Sunglasses (56)",₹581,74% off
8,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹528,73% off
9,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹482,75% off
10,AISLIN,"Polarized, UV Protection Wayfarer, Round Sungl...",₹581,74% off
11,Royaltail,Polarized Rectangular Sunglasses (58),"₹1,118",77% off
12,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹599,70% off
13,Singco India,"Polarized, UV Protection Wayfarer, Retro Squar...",₹375,84% off
14,hipe,"UV Protection Clubmaster, Spectacle Sunglasses...",₹129,91% off
15,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹569,36% off
16,ROYAL SON,UV Protection Over-sized Sunglasses (61),₹559,72% off
17,PROVOGUE,"Polarized, UV Protection Rectangular Sunglasse...",₹599,76% off
18,PROVOGUE,UV Protection Round Sunglasses (Free Size),₹643,74% off
19,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹597,76% off

In [82]:
data_frame = pd.concat([df,df_1, df_2], ignore_index=True)

In [83]:
data_frame

,brand,product_description,product_price,Discount
0,Elligator,UV Protection Wayfarer Sunglasses (52),₹159,84% off
1,Elligator,"UV Protection Wayfarer, Retro Square Sunglasse...",₹199,80% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹169,86% off
3,ROADWAY,"UV Protection Wayfarer, Sports, Spectacle , Re...",₹129,90% off
4,ROADWAY,UV Protection Wayfarer Sunglasses (Free Size),₹189,81% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹569,36% off
96,ROYAL SON,UV Protection Over-sized Sunglasses (61),₹559,72% off
97,PROVOGUE,"Polarized, UV Protection Rectangular Sunglasse...",₹599,76% off
98,PROVOGUE,UV Protection Round Sunglasses (Free Size),₹643,74% off
99,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹597,76% off

5.QUESTION--> SOLUTION-->

In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [5]:
driver = webdriver.Chrome()
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market"
driver.get(url)

In [6]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [7]:
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [8]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [9]:
review_summary

['Perfect product!',
 'Wonderful',
 'Best in the market!',
 'Classy product',
 'Terrific',
 'Awesome',
 'Worth every penny',
 'Perfect product!',
 'Terrific purchase',
 'Just wow!']

In [10]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [11]:
full_review

['V Good all',
 'This is amazing at all',
 'Good Camera',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Photos super',
 'Value for money 😍',
 'Perfect Product!!']

In [12]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [15]:
df

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Perfect product!,V Good all
1,5,Wonderful,This is amazing at all
2,5,Best in the market!,Good Camera
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Terrific,Very very good
5,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
6,5,Worth every penny,Feeling awesome after getting the delivery of ...
7,5,Perfect product!,Photos super
8,5,Terrific purchase,Value for money 😍
9,5,Just wow!,Perfect Product!!

In [16]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][1]')

In [17]:
Next_page.click()

In [18]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [19]:
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [20]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [21]:
review_summary

['Fabulous!',
 'Must buy!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome']

In [22]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [23]:
full_review

['Super🔥 and good performance 👌❤️',
 'It’s really awesome',
 'Excellent Phone.',
 'very good camera quality',
 'NYC',
 'It’s very good battery life and display and video quality and ther performance of iPhone.....🔥🔥🌈',
 'Value for money 🖤🖤',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Good product 👌I love iPhone',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.']

In [24]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [25]:
df_1 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [26]:
df_1

  RATING     REVIEW_SUMMARY                                        FULL_REVIEW
0      5          Fabulous!                    Super🔥 and good performance 👌❤️
1      5          Must buy!                                It’s really awesome
2      5          Brilliant                                   Excellent Phone.
3      5          Brilliant                           very good camera quality
4      5          Excellent                                                NYC
5      5          Fabulous!  It’s very good battery life and display and vi...
6      5  Terrific purchase                                 Value for money 🖤🖤
7      5          Must buy!  Go for iPhone 11 , if confused between iPhone ...
8      5             Super!                        Good product 👌I love iPhone
9      5     Simply awesome  Really satisfied with the Product I received.....

In [27]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][2]')

In [28]:
Next_page.click()

In [29]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [30]:
rating

['5', '5', '5', '5', '5', '4', '5', '5', '5', '5']

In [31]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [32]:
review_summary

['Best in the market!',
 'Highly recommended',
 'Great product',
 'Just wow!',
 'Must buy!',
 'Very Good',
 'Wonderful',
 'Best in the market!',
 'Highly recommended',
 'Perfect product!']

In [33]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [34]:
full_review

['Superbb performance n camera is awesome 😍😍',
 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...',
 'Purple is best',
 'Nice product\nThe camera is extremely good which i liked the most.\nGot delivery within 24 hrs. Thanks to Flipkart',
 'This is my first Iphone. Very smooth and super fast\nThankyou @Flipkart god bless you with more success.',
 '🎈Battery\n🎈Performance\n🎈Camera\n🎈Price\n\n🎊All together worth IT\n\n♥️♥️♥️♥️',
 'Very good',
 'first iphone from android.\nwhat can I say, iphone 11 says it all.\nearlier I used to abuse iphone users by saying show off, but after using it .. it’s completely worth it..\np.s: there is still little pain in lower abdomen 😜',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .']

In [35]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [36]:
df_2 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [37]:
df_2

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Best in the market!,Superbb performance n camera is awesome 😍😍
1,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
2,5,Great product,Purple is best
3,5,Just wow!,Nice product\nThe camera is extremely good whi...
4,5,Must buy!,This is my first Iphone. Very smooth and super...
5,4,Very Good,🎈Battery\n🎈Performance\n🎈Camera\n🎈Price\n\n🎊Al...
6,5,Wonderful,Very good
7,5,Best in the market!,"first iphone from android.\nwhat can I say, ip..."
8,5,Highly recommended,It's my first time to use iOS phone and I am l...
9,5,Perfect product!,Amazing phone with great cameras and better ba...

In [38]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][3]')

In [39]:
Next_page.click()

In [40]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [41]:
rating

['5', '4', '5', '5', '5', '4', '5', '5', '5', '5']

In [42]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [43]:
review_summary

['Best in the market!',
 'Worth the money',
 'Highly recommended',
 'Wonderful',
 'Highly recommended',
 'Value-for-money',
 'Worth every penny',
 'Best in the market!',
 'Brilliant',
 'Awesome']

In [44]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [45]:
full_review

['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Camera is just wow 👌👌',
 'My first ever I phone and awesome performance camera battery and smoother than my previous phone',
 'If you get it you would definitely not regret it. It is a premium flagship phone. Love for apple, love for iphone.',
 'Awesome Best iPhone 😍👍🏼',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good',
 'Phone Is So Good',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.']

In [46]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [47]:
df_3 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [48]:
df_3

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Best in the market!,Great iPhone very snappy experience as apple k...
1,4,Worth the money,Camera is just wow 👌👌
2,5,Highly recommended,My first ever I phone and awesome performance ...
3,5,Wonderful,If you get it you would definitely not regret ...
4,5,Highly recommended,Awesome Best iPhone 😍👍🏼
5,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
6,5,Worth every penny,Previously I was using one plus 3t it was a gr...
7,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
8,5,Brilliant,Phone Is So Good
9,5,Awesome,"Always love the apple products, upgraded from ..."

In [49]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][4]')

In [50]:
Next_page.click()

In [51]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [52]:
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [53]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [54]:
review_summary

['Best in the market!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Great product',
 'Awesome',
 'Worth every penny',
 'Classy product']

In [55]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [56]:
full_review

['Don’t expect much from front camera… especially who loves beauty mode and filters.. back cameras are good…video department is always plus point in iPhones… battery capacity is really surprising lasts for one day at least… performance always good and smooth… speaker’s quality is good…built quality best and haptic feedback is enjoyable…\nNote : images are good after you edit',
 'I’m satisfy😍😍',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'A wort full value for money decision it’s . Simply go for it in 2021 its still a good decision . Awesome camera , Super smothered performance, Heck of build quality. And Most important it protects your privacy.',
 'Awsn loved it',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 'excellent look...',
 'Gifted my man on his 30th birthday 🎂 He loves it.. Him happy so i am more than happy 😍😘❤️🥰']

In [57]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [58]:
df_4 =pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [59]:
df_4

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Best in the market!,Don’t expect much from front camera… especiall...
1,5,Mind-blowing purchase,I’m satisfy😍😍
2,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Brilliant,A wort full value for money decision it’s . Si...
5,5,Simply awesome,Awsn loved it
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,5,Awesome,I dreamt about this day from a long time.... G...
8,5,Worth every penny,excellent look...
9,5,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...

In [60]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][5]')

In [61]:
Next_page.click()

In [62]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [63]:
rating

['5', '5', '5', '5', '5', '5', '4', '5', '5', '5']

In [64]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [65]:
review_summary

['Wonderful',
 'Fabulous!',
 'Terrific purchase',
 'Excellent',
 'Just wow!',
 'Classy product',
 'Pretty good',
 'Wonderful',
 'Best in the market!',
 'Simply awesome']

In [66]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [67]:
full_review

['Definitely worth purchase',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Buy it if you afford it 😜',
 'Review After 10month\nSuperb quality product\nBattery run 40hrs perfect\nAfter 10 months battery health was 95% with 20W adapter\nLove apple 🍎',
 'Loving it!!! 🤩\nSE to 11❤️\nA Big & Worthy Upgrade🥰💥',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'I upgraded from 7 plus and Im not regretting it. The only thing missing is OLED display other than that 11 is no where lesser than 11pro.',
 'Very good',
 'Just awesome phone, everything works in such a smooth and refined way !!!\nCamera - next level\nDisplay - next level\nPerformance - monster\nBattery - next level\nEverything works at the best level with A13 Bionic Chip\nValue for money iphone\nYou should go for this just killer performance 🔥🔥']

In [68]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [69]:
df_5 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [70]:
df_5

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Wonderful,Definitely worth purchase
1,5,Fabulous!,This is my first iOS phone. I am very happy wi...
2,5,Terrific purchase,Buy it if you afford it 😜
3,5,Excellent,Review After 10month\nSuperb quality product\n...
4,5,Just wow!,Loving it!!! 🤩\nSE to 11❤️\nA Big & Worthy Upg...
5,5,Classy product,Best and amazing product.....phone looks so pr...
6,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
7,5,Wonderful,I upgraded from 7 plus and Im not regretting i...
8,5,Best in the market!,Very good
9,5,Simply awesome,"Just awesome phone, everything works in such a..."

In [71]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][6]')

In [72]:
Next_page.click()

In [73]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [74]:
rating

['5', '4', '5', '5', '4', '5', '5', '4', '5', '5']

In [75]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [76]:
review_summary

['Best in the market!',
 'Good choice',
 'Wonderful',
 'Perfect product!',
 'Good quality product',
 'Highly recommended',
 'Simply awesome',
 'Value-for-money',
 'Best in the market!',
 'Must buy!']

In [77]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [78]:
full_review

['Finally got it 😙',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Its good.. a little heavy on my pinky but its cute ! Well m not any great photographer but putting these pictures just in case u knw…. Would help someone make any decisions',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'over all its nice.. color... purple. 😍',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'Such an awesome experience with iPhone 11 awesome Camera quality.',
 'happy ❤️']

In [79]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [80]:
df_6 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [81]:
df_6

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Best in the market!,Finally got it 😙
1,4,Good choice,So far it’s been an AMAZING experience coming ...
2,5,Wonderful,Its good.. a little heavy on my pinky but its ...
3,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
4,4,Good quality product,Awesome
5,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
6,5,Simply awesome,over all its nice.. color... purple. 😍
7,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
8,5,Best in the market!,Such an awesome experience with iPhone 11 awes...
9,5,Must buy!,happy ❤️

In [82]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][7]')

In [83]:
Next_page.click()

In [86]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [87]:
rating

['5', '4', '5', '5', '4', '5', '5', '4', '5', '5']

In [88]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [89]:
review_summary

['Best in the market!',
 'Good choice',
 'Wonderful',
 'Perfect product!',
 'Good quality product',
 'Highly recommended',
 'Simply awesome',
 'Value-for-money',
 'Best in the market!',
 'Must buy!']

In [90]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [91]:
full_review

['Finally got it 😙',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Its good.. a little heavy on my pinky but its cute ! Well m not any great photographer but putting these pictures just in case u knw…. Would help someone make any decisions',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'over all its nice.. color... purple. 😍',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'Such an awesome experience with iPhone 11 awesome Camera quality.',
 'happy ❤️']

In [92]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [93]:
df_7 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [94]:
df_7

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Best in the market!,Finally got it 😙
1,4,Good choice,So far it’s been an AMAZING experience coming ...
2,5,Wonderful,Its good.. a little heavy on my pinky but its ...
3,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
4,4,Good quality product,Awesome
5,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
6,5,Simply awesome,over all its nice.. color... purple. 😍
7,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
8,5,Best in the market!,Such an awesome experience with iPhone 11 awes...
9,5,Must buy!,happy ❤️

In [95]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][8]')

In [96]:
Next_page.click()

In [97]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [98]:
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [99]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [100]:
review_summary

['Great product',
 'Super!',
 'Classy product',
 'Just wow!',
 'Perfect product!',
 'Great product',
 'Must buy!',
 'Must buy!',
 'Best in the market!',
 'Great product']

In [101]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [102]:
full_review

['Superb Phone..',
 'Did an upgrade from 6s plus to iphone 11.\nAo far the experience is well and good. Felt smoother than 6s plus. The camera quality is superb. Battery backup is descent. Not a heavy user, and gets power more than a day. Go for it if you need an alrounder iphone in a competitve price.',
 'Just enjoy the power of it!',
 'Excellent Phone',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "I was using android phone earlier..I was thinking apple phones are much more costy than other phones with less specifications..so why to waste money in this??..But trust me guys once if you start using ios then you won't go back to android...beleive me this phone is the best than all other...There is no other phone which can beat iphones in terms of camera..iphones gives the best real image..its very faster and smoother than android phones...if you think to switch to ios iphone 11 is the best...\nREAD MORE",
 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay.\n\nBelow ar...\nREAD MORE',
 'My dream is complete just mind-blowing phone camera is superb 😌✨😍',
 'Really very nice... my dad gifted me really I am soo happy with this phone love it 😇',
 'Awesome phone, great display(may not be a OLED)...very fast processor...taking portrait photo is the real joy.']

In [103]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [104]:
df_8 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [105]:
df_8

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Great product,Superb Phone..
1,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
2,5,Classy product,Just enjoy the power of it!
3,5,Just wow!,Excellent Phone
4,5,Perfect product!,It is just awesome mobile for this price from ...
5,5,Great product,I was using android phone earlier..I was think...
6,5,Must buy!,I rate this product 5* as it has got amazing u...
7,5,Must buy!,My dream is complete just mind-blowing phone c...
8,5,Best in the market!,Really very nice... my dad gifted me really I ...
9,5,Great product,"Awesome phone, great display(may not be a OLED..."

In [106]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][9]')

In [107]:
Next_page.click()

In [108]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating_ = i.text
    rating.append(rating_)

In [109]:
rating

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [110]:
review_summary = []
review_summary_tags =driver.find_elements(By.XPATH,' //p[@class="_2-N8zT"]')
for i in review_summary_tags:
    review_ = i.text
    review_summary.append(review_)

In [111]:
review_summary

['Terrific purchase',
 'Excellent',
 'Wonderful',
 'Awesome',
 'Worth every penny',
 'Highly recommended',
 'Wonderful',
 'Very Good',
 'Brilliant',
 'Classy product']

In [112]:
full_review = []
full_review_tags =driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [113]:
full_review

['Awesome 💙',
 'Using this phone from last 4days, great camera quality love it',
 'Quality camera',
 'Awesome Phone. Battery backup top-notch...',
 "It is better to buy iPhone 11 over iPhone 12 if you prioritize the camera,Its because the difference isn’t significantly huge except lowlight performance and Go for 128 GB variant rather than 64 GB because the system data alone contains 20 GB of data .\nEven though it's 720p LCD display but it's better than todays Android's 1080p display. My phone was a 64GB mint green model and this one is really pretty especially in the real life. I can still get almost everything out of what i paid for at a...\nREAD MORE",
 'Thanks Flipkart For this amazing deal! I had a dream of owning a iphone since i had known about.\nIm very happy with my purchase & it is totally worth it.\nAmazing experience all over !!\n\nAnyone who’s thinking of buying it in 2021, i would simply say go for it without any second thoughts ❤️',
 'Excellent Fabulous Adorable Iphone 11 Value for money and premium phone',
 'I switched to IOS for long term use and for better camera and performance in this cost there are many good android phones also available but in compare to camera , performance and security IOS is best 👍',
 'Perfect iPhone on this budget!! Camera and the night mode is crazy and killing it 🤩 Also the colour suits for everyone ❤️',
 'Outstanding performance this phone']

In [114]:
print(len(rating),len(review_summary),len(full_review))

10 10 10

In [115]:
df_9 = pd.DataFrame({'RATING':rating , 'REVIEW_SUMMARY':review_summary, 'FULL_REVIEW':full_review})

In [116]:
df_9

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Terrific purchase,Awesome 💙
1,5,Excellent,"Using this phone from last 4days, great camera..."
2,5,Wonderful,Quality camera
3,5,Awesome,Awesome Phone. Battery backup top-notch...
4,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
5,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
6,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
7,4,Very Good,I switched to IOS for long term use and for be...
8,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
9,5,Classy product,Outstanding performance this phone

In [117]:
data_frame = pd.concat([df,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9], ignore_index = True)

In [118]:
data_frame

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Perfect product!,V Good all
1,5,Wonderful,This is amazing at all
2,5,Best in the market!,Good Camera
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Terrific,Very very good
...,...,...,...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
97,4,Very Good,I switched to IOS for long term use and for be...
98,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
99,5,Classy product,Outstanding performance this phone

6.QUESTION--> SOLUTION-->

In [184]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [185]:
driver = webdriver.Chrome()
url = "https://www.flipkart.com/"
driver.get(url)

In [186]:
search_products = driver.find_element(By.XPATH, '//input[@class="Pke_EE"]')

In [187]:
search_products.send_keys('sneakers')

In [188]:
search_products.submit()

In [189]:
brand_name = []
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand = i.text
    brand_name.append(brand)

In [190]:
brand_name

['BRUTON',
 'Robbie jones',
 'Deals4you',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'kardam&sons',
 'BRUTON',
 'TRUMP',
 'ATOM',
 'Layasa',
 'BRUTON',
 'PUMA',
 'BRUTON',
 'RED TAPE',
 'U.S. POLO ASSN.',
 'aadi',
 'JK PORT',
 'Layasa',
 'TRUMP',
 'lejano',
 'BRUTON',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'UNDER ARMOUR',
 'BRUTON',
 'BRUTON',
 'RED TAPE',
 'aadi',
 'BRUTON',
 'lejano',
 'PUMA',
 'RED TAPE',
 'RED TAPE',
 'TRUMP',
 'AIRBELL',
 'Footox',
 'aadi',
 'Robbie jones']

In [191]:
product_desc = []
product_desc_tags =driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in product_desc_tags:
    product = i.text
    product_desc.append(product)

In [192]:
product_desc

['Exclusive Sneaker Shoes Sneakers For Men',
 'Casual Sneakers Canvas High Top Boots For Boys And Men ...',
 'Sneakers For Women',
 'Trending Stylish Casual Outdoor Sneakers Shoes For Men ...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'kardam&sons luxury fashionable casual boots Sneakers Fo...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'ROSY_01_SKY_BLUE_7 Sneakers For Men',
 'Sneakers For Men',
 'Stylish Casual Sports Shoe Sneakers Sneakers For Women',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Shuffle Ultra Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'CLARKIN Sneakers For Men',
 'Sneakers For Men',
 'Stylish sneakers shoes for men Sneakers For Men',
 'Stylish Casual Sports Shoe Sneakers Sneakers For Women',
 'ROSY_02_PISTA_GREEN_6 Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'Synthetic Leather| Ultralightweight | Comfortable | Bre...',
 'Combo pack of 2 Trendy Men’s Casual Shoes Sneakers For ...',
 'Sneakers For Men',
 'Fire run Sneakers For Men',
 'Casual Sneakers For Men | Comfortable, Shock Absorbant ...',
 'Sneakers For Men | Comfortable, Shock Absorbant & Slip-...',
 'ROSY_01_PEACH_6 Sneakers For Men',
 'Lightweight Comfort Summer Trendy Walking Outdoor Styli...',
 'Casual Shoes Sneakers For Women',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Casual Sneakers Colour Blocked Shoes For Boys And Men S...']

In [193]:
price = []
price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    product_price = i.text
    price.append(product_price)

In [194]:
price

['₹333',
 '₹449',
 '₹299',
 '₹299',
 '₹1,709',
 '₹2,369',
 '₹409',
 '₹330',
 '₹493',
 '₹1,088',
 '₹389',
 '₹333',
 '₹1,749',
 '₹299',
 '₹1,619',
 '₹1,339',
 '₹384',
 '₹399',
 '₹389',
 '₹493',
 '₹430',
 '₹375',
 '₹2,069',
 '₹1,949',
 '₹1,679',
 '₹2,879',
 '₹333',
 '₹333',
 '₹2,369',
 '₹299',
 '₹567',
 '₹410',
 '₹1,289',
 '₹1,709',
 '₹1,649',
 '₹493',
 '₹524',
 '₹359',
 '₹299',
 '₹449']

In [195]:
df = pd.DataFrame({'Brand':brand_name, 'Product_description':product_desc , 'Product_price':price})

In [196]:
df

,Brand,Product_description,Product_price
0,BRUTON,Exclusive Sneaker Shoes Sneakers For Men,₹333
1,Robbie jones,Casual Sneakers Canvas High Top Boots For Boys...,₹449
2,Deals4you,Sneakers For Women,₹299
3,URBANBOX,Trending Stylish Casual Outdoor Sneakers Shoes...,₹299
4,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"₹1,709"
5,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"₹2,369"
6,kardam&sons,kardam&sons luxury fashionable casual boots Sn...,₹409
7,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹330
8,TRUMP,ROSY_01_SKY_BLUE_7 Sneakers For Men,₹493
9,ATOM,Sneakers For Men,"₹1,088"
10,Layasa,Stylish Casual Sports Shoe Sneakers Sneakers F...,₹389
11,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹333
12,PUMA,Shuffle Ultra Sneakers For Men,"₹1,749"
13,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299
14,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,619"
15,U.S. POLO ASSN.,CLARKIN Sneakers For Men,"₹1,339"
16,aadi,Sneakers For Men,₹384
17,JK PORT,Stylish sneakers shoes for men Sneakers For Men,₹399
18,Layasa,Stylish Casual Sports Shoe Sneakers Sneakers F...,₹389
19,TRUMP,ROSY_02_PISTA_GREEN_6 Sneakers For Men,₹493
20,lejano,Sneakers For Men,₹430
21,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹375
22,RED TAPE,Sneaker Casual Shoes for Men | Soft Cushioned ...,"₹2,069"
23,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"₹1,949"
24,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"₹1,679"
25,UNDER ARMOUR,Sneakers For Men,"₹2,879"
26,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹333
27,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹333
28,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"₹2,369"
29,aadi,Synthetic Leather| Ultralightweight | Comforta...,₹299
30,BRUTON,Combo pack of 2 Trendy Men’s Casual Shoes Snea...,₹567
31,lejano,Sneakers For Men,₹410
32,PUMA,Fire run Sneakers For Men,"₹1,289"
33,RED TAPE,"Casual Sneakers For Men | Comfortable, Shock A...","₹1,709"
34,RED TAPE,"Sneakers For Men | Comfortable, Shock Absorban...","₹1,649"
35,TRUMP,ROSY_01_PEACH_6 Sneakers For Men,₹493
36,AIRBELL,Lightweight Comfort Summer Trendy Walking Outd...,₹524
37,Footox,Casual Shoes Sneakers For Women,₹359
38,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹299
39,Robbie jones,Casual Sneakers Colour Blocked Shoes For Boys ...,₹449

In [197]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][1]')

In [198]:
Next_page.click()

In [199]:
brand_name = []
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand = i.text
    brand_name.append(brand)

In [200]:
brand_name

['aadi',
 'BRUTON',
 'HOTSTYLE',
 'kardam&sons',
 'HRX by Hrithik Roshan',
 'RED TAPE',
 'BRUTON',
 'aadi',
 'WOODLAND',
 'RED TAPE',
 'BRUTON',
 'aadi',
 'RED TAPE',
 'PUMA',
 'aadi',
 'RED TAPE',
 'aadi',
 'aadi',
 'RED TAPE',
 'RED TAPE',
 'asian',
 'kcandy',
 'RED TAPE',
 'PUMA',
 'REEBOK',
 'aadi',
 'Footox',
 'Footox',
 'PUMA',
 'Deals4you',
 'BRUTON',
 'STALAG',
 'PUMA',
 'PUMA',
 'HOTSTYLE',
 'ATOM',
 'kcandy',
 'BOLLERO',
 'RED TAPE',
 'U.S. POLO ASSN.']

In [201]:
product_desc = []
product_desc_tags =driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in product_desc_tags:
    product = i.text
    product_desc.append(product)

In [202]:
product_desc

['Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes for mens Sneakers For Men',
 'Designer Sneakers For Men',
 'Sneakers For Men',
 'URBAN CHUNKY Sneakers For Men',
 "Sneaker Shoes For Men's - Elevated Comfort, Perfect Cas...",
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Sneakers For Men',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'Rungryp Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Sneakers For Men',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...',
 'Moscow-01 White Sneakers,Loafers,Chunky Shoes Sneakers ...',
 'White Casual Sneakers Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'DISRIDE Sneakers For Men',
 'Breeze Glide Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Sneakers For Men Sneakers For Men',
 'Casual Shoes Sneakers For Women',
 'SiennaSoftrideBallerina Sneakers For Women',
 'Sneakers For Women',
 'Combo Pack Of 2 Latest Stylish Casual Shoes Sneakers Fo...',
 'Kick Outdoor Gym,Sports,Training,Stylish Running Shoes ...',
 'Noah Sneakers For Men',
 'Caven Sneakers For Men',
 'Sports Shoes , Walking Shoes , Gym & Training Shoes And...',
 'Alpha Predator Sneakers For Men',
 'first-3-Black Sneakers Shoes,Loafers,Casuals Sneakers F...',
 'Open Stitched Design Lightweight Evening Wedding Slip O...',
 'Lifestyle Sneaker Shoes for Men | Soft Cushioned Insole...',
 'CLARKIN Sneakers For Men']

In [203]:
price = []
price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    product_price = i.text
    price.append(product_price)

In [204]:
price

['₹349',
 '₹567',
 '₹288',
 '₹409',
 '₹925',
 '₹1,739',
 '₹445',
 '₹299',
 '₹1,639',
 '₹1,949',
 '₹333',
 '₹487',
 '₹1,949',
 '₹2,149',
 '₹380',
 '₹1,679',
 '₹380',
 '₹333',
 '₹1,619',
 '₹2,069',
 '₹823',
 '₹449',
 '₹2,069',
 '₹1,074',
 '₹1,583',
 '₹299',
 '₹349',
 '₹359',
 '₹1,569',
 '₹299',
 '₹567',
 '₹699',
 '₹1,574',
 '₹2,639',
 '₹260',
 '₹1,339',
 '₹399',
 '₹505',
 '₹2,069',
 '₹1,339']

In [205]:
print(len(price),len(brand_name),len(product_desc))

40 40 40

In [206]:
df_1 = pd.DataFrame({'Brand':brand_name, 'Product_description':product_desc , 'Product_price':price})

In [207]:
df_1

,Brand,Product_description,Product_price
0,aadi,Sneakers For Men,₹349
1,BRUTON,Combo Pack Of 2 Casual Shoes for mens Sneakers...,₹567
2,HOTSTYLE,Designer Sneakers For Men,₹288
3,kardam&sons,Sneakers For Men,₹409
4,HRX by Hrithik Roshan,URBAN CHUNKY Sneakers For Men,₹925
5,RED TAPE,"Sneaker Shoes For Men's - Elevated Comfort, Pe...","₹1,739"
6,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹445
7,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹299
8,WOODLAND,Sneakers For Men,"₹1,639"
9,RED TAPE,Sneaker Casual Shoes for Men | Soft Cushioned ...,"₹1,949"
10,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹333
11,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹487
12,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"₹1,949"
13,PUMA,Rungryp Sneakers For Men,"₹2,149"
14,aadi,Sneakers For Men,₹380
15,RED TAPE,Sneaker Casual Shoes for Men | Soft Cushioned ...,"₹1,679"
16,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹380
17,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹333
18,RED TAPE,Sneakers For Men,"₹1,619"
19,RED TAPE,Sneaker Casual Shoes for Men | Soft Cushioned ...,"₹2,069"
20,asian,"Moscow-01 White Sneakers,Loafers,Chunky Shoes ...",₹823
21,kcandy,White Casual Sneakers Sneakers For Men,₹449
22,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹2,069"
23,PUMA,DISRIDE Sneakers For Men,"₹1,074"
24,REEBOK,Breeze Glide Sneakers For Men,"₹1,583"
25,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹299
26,Footox,Sneakers For Men Sneakers For Men,₹349
27,Footox,Casual Shoes Sneakers For Women,₹359
28,PUMA,SiennaSoftrideBallerina Sneakers For Women,"₹1,569"
29,Deals4you,Sneakers For Women,₹299
30,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes Sn...,₹567
31,STALAG,"Kick Outdoor Gym,Sports,Training,Stylish Runni...",₹699
32,PUMA,Noah Sneakers For Men,"₹1,574"
33,PUMA,Caven Sneakers For Men,"₹2,639"
34,HOTSTYLE,"Sports Shoes , Walking Shoes , Gym & Training ...",₹260
35,ATOM,Alpha Predator Sneakers For Men,"₹1,339"
36,kcandy,"first-3-Black Sneakers Shoes,Loafers,Casuals S...",₹399
37,BOLLERO,Open Stitched Design Lightweight Evening Weddi...,₹505
38,RED TAPE,Lifestyle Sneaker Shoes for Men | Soft Cushion...,"₹2,069"
39,U.S. POLO ASSN.,CLARKIN Sneakers For Men,"₹1,339"

In [164]:
Next_page = driver.find_element(By.XPATH,'//a[@class="ge-49M"][2]')

In [165]:
Next_page.click()

In [166]:
brand_name = []
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[:20]:
    brand = i.text
    brand_name.append(brand)

In [167]:
brand_name

['VENDOZ',
 'Kraasa',
 'U.S. POLO ASSN.',
 'RED TAPE',
 'CAMPUS',
 'RED TAPE',
 'Kraasa',
 'VENDOZ',
 'RED TAPE',
 'RED TAPE',
 'Kraasa',
 'asian',
 'aadi',
 'RED TAPE',
 'HOTSTYLE',
 'aadi',
 'Kraasa',
 'Aeonik',
 'U.S. POLO ASSN.',
 'RED TAPE']

In [168]:
product_desc = []
product_desc_tags =driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in product_desc_tags[:20]:
    product = i.text
    product_desc.append(product)

In [169]:
product_desc

['Sneakers For Women',
 'Sneakers For Women',
 'LEBRON 3.0 Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'OG-D4 Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Radiant 2.0 Sneakers For Women',
 'Premium Stylish Comfortable Shoe for Girls and Womens S...',
 'Sneakers For Men',
 'Lifestyle Sneaker Shoes for Men | Soft Cushioned Insole...',
 'Sneakers For Women',
 'Thunder-03 Loafers,Casuals,Stylish with Extra Comfort S...',
 'Ultralightweight | Comfortable | Breathable Walking | O...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Sports Shoes , Walking Shoes , Gym & Training Shoes And...',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Sneakers For Women',
 'comfortable,Lightweight,Daily Use Sneakers For Men',
 'CLARKIN Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...']

In [170]:
price = []
price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[:20]:
    product_price = i.text
    price.append(product_price)

In [171]:
price

['₹549',
 '₹391',
 '₹1,799',
 '₹1,619',
 '₹649',
 '₹1,799',
 '₹391',
 '₹589',
 '₹1,709',
 '₹2,069',
 '₹499',
 '₹767',
 '₹385',
 '₹1,679',
 '₹260',
 '₹299',
 '₹249',
 '₹380',
 '₹1,399',
 '₹1,679']

In [172]:
df_2 = df = pd.DataFrame({'Brand':brand_name, 'Product_description':product_desc , 'Product_price':price})

In [173]:
df_2

,Brand,Product_description,Product_price
0,VENDOZ,Sneakers For Women,₹549
1,Kraasa,Sneakers For Women,₹391
2,U.S. POLO ASSN.,LEBRON 3.0 Sneakers For Men,"₹1,799"
3,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,619"
4,CAMPUS,OG-D4 Sneakers For Men,₹649
5,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,799"
6,Kraasa,Radiant 2.0 Sneakers For Women,₹391
7,VENDOZ,Premium Stylish Comfortable Shoe for Girls and...,₹589
8,RED TAPE,Sneakers For Men,"₹1,709"
9,RED TAPE,Lifestyle Sneaker Shoes for Men | Soft Cushion...,"₹2,069"
10,Kraasa,Sneakers For Women,₹499
11,asian,"Thunder-03 Loafers,Casuals,Stylish with Extra ...",₹767
12,aadi,Ultralightweight | Comfortable | Breathable Wa...,₹385
13,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,679"
14,HOTSTYLE,"Sports Shoes , Walking Shoes , Gym & Training ...",₹260
15,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹299
16,Kraasa,Sneakers For Women,₹249
17,Aeonik,"comfortable,Lightweight,Daily Use Sneakers For...",₹380
18,U.S. POLO ASSN.,CLARKIN Sneakers For Men,"₹1,399"
19,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,679"

In [208]:
data_frame = pd.concat([df,df_1,df_2] , ignore_index = True)

In [209]:
data_frame

,Brand,Product_description,Product_price
0,BRUTON,Exclusive Sneaker Shoes Sneakers For Men,₹333
1,Robbie jones,Casual Sneakers Canvas High Top Boots For Boys...,₹449
2,Deals4you,Sneakers For Women,₹299
3,URBANBOX,Trending Stylish Casual Outdoor Sneakers Shoes...,₹299
4,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"₹1,709"
...,...,...,...
95,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹299
96,Kraasa,Sneakers For Women,₹249
97,Aeonik,"comfortable,Lightweight,Daily Use Sneakers For...",₹380
98,U.S. POLO ASSN.,CLARKIN Sneakers For Men,"₹1,399"
99,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,679"

7.QUESTION--> SOLUTION-->

In [210]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [211]:
driver = webdriver.Chrome()
url = "https://www.amazon.in/"
driver.get(url)

In [212]:
search = driver.find_element(By.XPATH, '//input[@id="twotabsearchtextbox"]')
search.send_keys('laptop')

In [213]:
search.submit()

In [214]:
job_title=[]
title_tags = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[:10]:
    title = i.text
    job_title.append(title)

In [215]:
job_title

['Dell 15 Laptop, Intel Core i5-1135G7 Processor/16GB DDR4/512GB SSD/Intel UHD Graphic/15.6" (39.562cm) FHD Display/Win 11+MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon/Thin & Light 1.69kg',
 'Acer One 14 Business Laptop AMD Ryzen 3 3250U Processor (8GB RAM/256GB SSD/AMD Radeon Graphics/Windows 11 Home) Z2-493 with 35.56 cm (14.0") HD Display',
 'ASUS BR1100 Notebook 12 (2022), 11.6-inch HD, Intel Celeron N4500, (4GB RAM/128GB M.2 NVMe™ PCIe®/Integrated Graphics/Windows 11 Home/Star Grey/1.26 Kg), BR1100CKA-GJ0722W',
 'HP Laptop 15s, 12th Gen Intel Core i3-1215U, 15.6-inch (39.6 cm), FHD, 8GB DDR4, 512GB SSD, Intel UHD Graphics, Backlit KB, Thin & Light, Dual Speakers (Win 11, MSO 2021, Silver, 1.69 kg), fq5007TU',
 'ASUS BR1100 Laptop, 11.6" (29.46cm) HD Anti-Glare Display, Intel Celeron N4500, 8GB RAM, 128GB SSD, MIL-STD 810H Durability, Windows 10 Home, Dark Grey, BR1100CKA-GJ0746W',
 'ASUS Vivobook 14, Intel Core i3-1115G4 11th Gen, 14" (35.56 cms) FHD, Thin and Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/Transparent Silver/1.60 kg), X1400EA-EK322WS',
 'Lenovo V15 AMD Ryzen 3 7320U 15.6" (39.62cm) FHD 250 Nits Antiglare Thin and Light Laptop (8GB/512GB SSD/Windows 11/Arctic Grey/1.65 Kg), 82YU00W7IN',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 '(Refurbished) Lenovo ThinkPad 7th Gen Intel Core i5 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/14" (35.6 cm) HD/Windows 11/WiFi/Bluetooth/Webcam/Intel Graphics)',
 'HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM/256GB SSD 14-inch(35.6 cm) Micro-Edge, Anti-Glare, FHD Laptop/Alexa Built-in/Win 11/Intel UHD Graphics/Dual Speakers/MSO 2021/1.41 Kg, 14s-dy2507TU']

In [216]:
price = []
price_tags =driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[:10]:
    product_price = i.text
    price.append(product_price)

In [217]:
price

['49,990',
 '26,990',
 '14,490',
 '40,990',
 '16,490',
 '1,25,990.',
 '42,309',
 '40,099',
 '33,990',
 '']

In [218]:
rating = []
rating_tags =driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tags[:10]:
    rating_ = i.text
    rating.append(rating_)

In [219]:
rating

['585', '180', '149', '2,259', '2', '2,217', '859', '1,555', '', '107']

In [220]:
data_frame = pd.DataFrame({'JOB_TITLE':job_title, 'PRICE':price, 'RATING':rating})

In [221]:
data_frame

                                           JOB_TITLE      PRICE RATING
0  Dell 15 Laptop, Intel Core i5-1135G7 Processor...     49,990    585
1  Acer One 14 Business Laptop AMD Ryzen 3 3250U ...     26,990    180
2  ASUS BR1100 Notebook 12 (2022), 11.6-inch HD, ...     14,490    149
3  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...     40,990  2,259
4  ASUS BR1100 Laptop, 11.6" (29.46cm) HD Anti-Gl...     16,490      2
5  ASUS Vivobook 14, Intel Core i3-1115G4 11th Ge...  1,25,990.  2,217
6  Lenovo V15 AMD Ryzen 3 7320U 15.6" (39.62cm) F...     42,309    859
7  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...     40,099  1,555
8  (Refurbished) Lenovo ThinkPad 7th Gen Intel Co...     33,990
9  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...               107

8. QUESTION--> SOLUTION-->

In [222]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [223]:
driver = webdriver.Chrome()
url = "https://www.azquotes.com/"
driver.get(url)

In [224]:
search = driver.find_element(By.XPATH, '//a[@href="/top_quotes.html"]')

In [225]:
search.click()

In [232]:
Quote=[]
title_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags:
    title = i.text
    Quote.append(title)

In [234]:
Quote

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'No matter what people tell you, words and ideas can change the world.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 "God doesn't require us to succeed, he only requires that you try.",
 'Change your thoughts and you change your world.']

In [228]:
type_of_quotes=[]
title_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in title_tags:
    title = i.text
    type_of_quotes.append(title)

In [229]:
type_of_quotes

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Business, Stupid, Government',
 'Beauty, Love Yourself, Your Beautiful',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Motivational, Positive, Moon',
 'Time, Pain, Get Well',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Love, Inspirational, Life',
 'Inspirational, Change, Philosophy',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Inspirational, Funny, Change',
 'Success, God, Mother',
 'Inspirational, Motivational, Change']

In [230]:
Author = []
title_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in title_tags:
    title = i.text
    Author.append(title)

In [231]:
Author

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers',
 'Jimmy Carter',
 'Albert Einstein',
 'Abraham Lincoln',
 'Steven Weinberg',
 'Franklin D. Roosevelt',
 'Albert Einstein',
 'Maya Angelou',
 'Mark Twain',
 'Theodore Roosevelt',
 'Michael Jackson',
 'Martin Luther King, Jr.',
 'C. S. Lewis',
 'Theodore Roosevelt',
 'Mark Twain',
 'Abraham Lincoln',
 'Ruth Graham',
 'C. S. Lewis',
 'Groucho Marx',
 'John Lennon',
 'Barbara Bush',
 'Albert Einstein',
 'Francis Chan',
 'Henry Ford',
 'Victor Hugo',
 'Abu Bakr',
 'Zig Ziglar',
 'Winston Churchill',
 'Zig Ziglar',
 'John F. Kennedy',
 'Dwight D. Eisenhower',
 'Winston Churchill',
 'Albert Einstein',
 'Willie Nelson',
 'Johnny Cash',
 'Marie Curie',
 'Maya Angelou',
 'Amy Bloom',
 'Zig Ziglar',
 'John Lennon',
 'Thomas Sowell',
 'Max Lucado',
 'Martin Luther King, Jr.',
 'Thomas Sowell',
 'Salma Hayek',
 'Martin Luther King, Jr.',
 'Douglas MacArthur',
 'Douglas MacArthur',
 'George S. Patton',
 'Corrie Ten Boom',
 'Jim Courier',
 'Zig Ziglar',
 'Edgar Allan Poe',
 'Zig Ziglar',
 'Stephen Covey',
 'Pablo Neruda',
 'Joe Frazier',
 'Bill Cosby',
 'Lewis Grizzard',
 'Les Brown',
 'Meister Eckhart',
 'Muhammad Ali',
 'John C. Maxwell',
 'Thomas A. Edison',
 'Neil Armstrong',
 'Rose Kennedy',
 'Martin Luther',
 'Ronald Reagan',
 'Andrew Murray',
 'Arianna Huffington',
 'Anne Frank',
 'Corrie Ten Boom',
 'Nelson Mandela',
 'Robin Williams',
 'Walt Disney',
 'John F. Kennedy',
 'Mark Twain',
 'John Stott',
 'Wayne Dyer',
 'Steve Jobs',
 'Maya Angelou',
 'Satchel Paige',
 'Mwai Kibaki',
 'Roald Dahl',
 'Robert H. Schuller',
 'Bill Vaughan',
 'Hunter S. Thompson',
 'Corrie Ten Boom',
 'Dalai Lama',
 'Mother Teresa',
 'Norman Vincent Peale']

In [235]:
df = pd.DataFrame({'QUOTE':Quote,'AUTHOR':Author,'TYPE_OF_QUOTE':type_of_quotes})

In [236]:
df

,QUOTE,AUTHOR,TYPE_OF_QUOTE
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

9.QUESTION--> SOLUTION-->

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()
url = "http://www.jagranjosh.com/"
driver.get(url)

There was an error managing chromedriver (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json): error trying to connect: dns error: No such host is known. (os error 11001)); using driver found in the cache

In [3]:
search = driver.find_element(By.XPATH, '//div[@class="Header_topNav__NnKZp"]/ul/li[3]/a')

In [4]:
search.click()

In [5]:
link = driver.find_element(By.XPATH, '//a[@href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]')

In [6]:
link.click()

In [7]:
table_body = driver.find_element(By.XPATH,'//div[@class="TableData"]/table/tbody[1]')

In [8]:
data = []

In [9]:
for tr in table_body.find_elements(By.XPATH, '//tr'):
    row = [item.text for item in tr.find_elements(By.XPATH, './/td')]
    data.append(row)

In [10]:
data

[[],
 ['1.',
  'Jawahar Lal Nehru',
  '(1889–1964)',
  '15 August 1947 to 27 May 1964\n16 years, 286 days',
  'The first prime minister of India and the longest-serving PM of India, the first to die in office.'],
 ['2.',
  'Gulzarilal Nanda (Acting)',
  '(1898-1998)',
  '27 May 1964 to 9 June 1964,\n13 days',
  'First acting PM of India'],
 ['3.',
  'Lal Bahadur Shastri',
  '(1904–1966)',
  '9 June 1964 to 11 January 1966\n1 year, 216 days',
  "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"],
 ['4. ',
  'Gulzari Lal Nanda  (Acting)',
  '(1898-1998)',
  '11 January 1966 to 24 January 1966\n13 days',
  '-'],
 ['5.',
  'Indira Gandhi',
  '(1917–1984)',
  '24 January 1966 to 24 March 1977\n11 years, 59 days',
  'First female Prime Minister of India'],
 ['6.',
  'Morarji Desai',
  '(1896–1995)',
  '24 March 1977 to  28 July 1979 \n2 year, 126 days',
  'Oldest to become PM (81 years old) and first to resign from office'],
 ['7.',
  'Charan Singh',
  '(1902–1987)',
  '28 July 1979 to 14 January 1980\n170 days',
  'Only PM who did not face the Parliament'],
 ['8.',
  'Indira Gandhi',
  '(1917–1984)',
  '14 January 1980 to 31 October 1984\n4 years, 291 days',
  'The first lady who served as PM for the second term'],
 ['9.',
  'Rajiv Gandhi',
  '(1944–1991)',
  '31 October 1984 to 2 December 1989\n5 years, 32 days',
  'Youngest to become PM (40 years old)'],
 ['10.',
  'V. P. Singh',
  '(1931–2008)',
  '2 December 1989 to 10 November 1990\n343 days',
  'First PM to step down after a vote of no confidence'],
 ['11.',
  'Chandra Shekhar',
  '(1927–2007)',
  '10 November 1990 to 21 June 1991\n223 days',
  'He belongs to  Samajwadi Janata Party'],
 ['12.',
  'P. V. Narasimha Rao',
  '(1921–2004)',
  '21 June 1991 to 16 May 1996\n4 years, 330 days',
  'First PM from South India'],
 ['13.',
  'Atal Bihari Vajpayee',
  '(1924- 2018)',
  '16 May 1996 to 1 June 1996\n16 days',
  'PM for shortest tenure'],
 ['14.',
  'H. D. Deve Gowda',
  '(born 1933)',
  '1 June 1996 to 21 April 1997\n324 days',
  'He belongs to  Janata Dal'],
 ['15.',
  'Inder Kumar Gujral',
  '(1919–2012)',
  '21 April 1997 to 19 March 1998 \n332 days',
  '------'],
 ['16.',
  'Atal Bihari Vajpayee',
  '(1924-2018)',
  '19 March 1998 to 22 May 2004 \n6 years, 64 days',
  ' The first non-congress PM who completed a full term as PM'],
 ['17.',
  'Manmohan Singh',
  '(born 1932)',
  '22 May 2004 to 26 May 2014   \n10 years, 4 days',
  ' First Sikh PM'],
 ['18.',
  'Narendra Modi',
  '(born 1950)',
  '26 May 2014 - 2019',
  '4th Prime Minister of India who served two consecutive tenures'],
 ['19.',
  'Narendra Modi',
  '(born 1950)',
  '30 May 2019- Incumbent',
  'First non-congress PM with two consecutive tenures'],
 ['List of all Presidents of India',
  'List of Nicknames of Indian Prime Ministers']]

In [24]:
import pandas as pd
df = pd.DataFrame(data[1:20], columns=['S.N.','Name', 'Born-Dead', 'Term of Office', 'Remarks'],)

In [25]:
df

,S.N.,Name,Born-Dead,Term of Office,Remarks
0,1.,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,3.,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,4.,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,5.,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,6.,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,7.,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,8.,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,9.,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,10.,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,11.,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,12.,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,15.,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,18.,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,19.,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

10.QUESTION--> SOLUTION-->

In [27]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [28]:
driver = webdriver.Chrome()
url = "https://www.motor1.com/"
driver.get(url)

There was an error managing chromedriver (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json): error trying to connect: dns error: No such host is known. (os error 11001)); using driver found in the cache

In [29]:
search = driver.find_element(By.XPATH, '//input[@class="m1-search-panel-input m1-search-form-text"]')

In [30]:
search.send_keys('50 most expensive cars')

In [31]:
search_button  = driver.find_element(By.XPATH, '//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')

In [32]:
search_button.click()

In [33]:
search_info = driver.find_element(By.XPATH, '//div[@class="item wcom "]/div/div/h3/a')

In [34]:
search_info.click()

In [35]:
Cars = []
title_tags = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in title_tags[:50]:
    title = i.text
    Cars.append(title)

In [36]:
Cars

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail']

In [37]:
df = pd.DataFrame(Cars, columns=['Cars'])

In [38]:
df

                                  Cars
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail